<div class="input-password-validation">
    <ul>
        <li data-ng-repeat="rule in $ctrl.rules track by rule.caption">
            <span class="circle pull-left" data-ng-if="$ctrl.getRuleValue(rule) === undefined"></span>
            <i class="ovh-font ovh-font-filled-check pull-left circle" data-ng-if="$ctrl.getRuleValue(rule) === true"></i>
            <i class="ovh-font ovh-font-filled-error pull-left circle" data-ng-if="$ctrl.getRuleValue(rule) === false"></i>
            <span class="caption" data-ng-class="{met: $ctrl.getRuleValue(rule) === true, unmet: $ctrl.getRuleValue(rule) === false}" data-ng-bind="rule.caption"></span>
        </li>
    </ul>
    <div data-ng-if="$ctrl.passwordStrength.value">
        <div>
            <span class="input-password-label" data-translate="input_password_strength"></span>
            <span class="pull-right strength {{$ctrl.passwordStrength.type}}">{{ ('input_password_' + $ctrl.passwordStrength.type) | translate }}</span>
        </div>
        <uib-progressbar value="$ctrl.passwordStrength.value" type="{{$ctrl.passwordStrength.type}}"></uib-progressbar>
    </div>
</div>
